.welcome{
    display: block;
    flex-direction: column;
    color:hsla(258, 76%, 43%, 0.814);
    font-size: 9em;
    text-align: center;
    text-shadow: 2px 3px 5px #fafa;
    width: 100%;
}
#input{
    color:rgb(22, 41, 54);
    text-shadow: 2px 3px 5px #fafa;
    text-align: center;
    width: auto;
}
#results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
#parrafo1{
    color:indigo;
    border:dashed;
    border-radius: 5px;
    text-align: center;
    padding: 3px 3px;
    font-size: 2em;
    width: auto;

}
.parrafo{
    color: red;
    display: inline-block;
    text-decoration-thickness: auto;
}

.factorial{

    color:indigo;
    border:solid;
    border-radius: 5px;
    text-align: center;
    padding: 3px 3px;
    font-size: 2em;
    width: auto;

}